
#section01 {
    font-family: 'Catamaran', cursive;
    font-size: 6em;
    color: #fe799f;
    text-shadow: 2px 2px #000;
    margin-top: 60px;
    background-size: cover;
    background-attachment: fixed;
}

#section1 {
    background: #0094d5;
    height: 110vh;
    padding: 0 2% 0 2%;
}

.img-fluid{
    padding-top: 40px;
}

#middle {
    padding-top: 32px;
}

#right {
    padding-top: 98px;
    padding-left: 10px;
}

#leftcol,
#midcol,
#rightcol  {
    border-radius: 25px;
    border: 10px solid #0094d5;
    padding-top: 30px;
    background-color: white;
    padding-bottom: 1em;
}





/* ======================================================= */
/* ================= IT'S MODAL TIME!!!! =================
/* ======================================================= */

.modal-open {
    overflow: hidden;
}
  
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #f7f7f9;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.modal-header .close {
    padding: 15px;
    margin: -15px -15px -15px auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 15px;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #f7f7f9;
}

.modal-footer > :not(:first-child) {
margin-left: .25rem;
}

.modal-footer > :not(:first-child) {
        margin-left: .25rem;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.4rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}   

.btn-primary {
    color: #FFFFFF;
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #5eb69d;
    border-color: #55b298;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active {
  color: #fff;
  background-color: #55b298;
  border-color: #4eac92;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
}

.btn-secondary {
    color: #FFFFFF;
    background-color: #F3969A;
    border-color: #F3969A;
}

.btn-secondary:hover {
    color: #FFF;
    background-color: #ef7479;
    border-color: #ee686e;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(243, 150, 154, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(243, 150, 154, 0.5);
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active {
  color: #fff;
  background-color: #ee686e;
  border-color: #ec5d63;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(243, 150, 154, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(243, 150, 154, 0.5);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #5a5a5a;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    color: #5a5a5a;
    background-color: #fff;
    border-color: #d0eae2;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.25);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
}
.modal-sm {
    max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}