h1{
    font-size: 5em;
    font-family: catamaran;
    color: #fff;
    margin:0;
    padding:0;
    font-size: 6em;
    text-shadow: 2px 2px #000;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}


#section0 {
    height: 110vh;
}

/* Defining each section background and styles
* --------------------------------------- */

#section2{
	background: #0094d5;
	padding: 6% 0 0 0;
}

#section3{
	background: #0094d5;
	padding: 6% 0 0 0;
}

*{ margin: 0; padding: 0;}

html, body {
    height: 100%;
    width: 100%;
    /*To hide the horizontal scroller appearing during the animation*/
    overflow-x: hidden;
}

#clouds{
    padding: 40px 0;
    background: #0094d5;
    height: 100%;
    width: 100%;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    left: 100px;

    -webkit-animation: moveclouds 130s linear infinite;
    -moz-animation: moveclouds 130s linear infinite;
    -o-animation: moveclouds 130s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 500px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 370s linear infinite;
    -moz-animation: moveclouds 370s linear infinite;
    -o-animation: moveclouds 370s linear infinite;
}

.x3 {
    left: 900px; top: -300px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 275s linear infinite;
    -moz-animation: moveclouds 275s linear infinite;
    -o-animation: moveclouds 275s linear infinite;
}

.x4 {
    left: -450px; top: -275px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 88s linear infinite;
    -moz-animation: moveclouds 88s linear infinite;
    -o-animation: moveclouds 88s linear infinite;
}

.x5 {
    left: 350px; top: -820px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 225s linear infinite;
    -moz-animation: moveclouds 225s linear infinite;
    -o-animation: moveclouds 225s linear infinite;
}

.x6 {
    left: 750px; top: -170px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 120s linear infinite;
    -moz-animation: moveclouds 120s linear infinite;
    -o-animation: moveclouds 120s linear infinite;
}

.x7 {
    left: 500px; top: -650px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 38s linear infinite;
    -moz-animation: moveclouds 38s linear infinite;
    -o-animation: moveclouds 38s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

#header1,
#header2,
#header3 {
    font-family: 'Sniglet', cursive;
    font-size: 8em;
    margin-top: -60px;
    color: #ffb140;
    text-shadow: 4px 4px #000;
}

#smallheader,
#smallheader2 {
    font-family: 'Catamaran', cursive;

}

#smallheader {
    font-size: 3em;
    margin-bottom: 10px;
    padding-top: 70px;
}

#smallheader2 {
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #fff;
}







