.card {
	margin-bottom: 2%;
	border-style: none;
	/* padding: 5px 5px 2px 5px; */
	margin: 0;
}

.card-img-top {
	border: 10px solid white;
	margin-bottom: 4%;
	border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
}
