.blink {
  animation: blinker 2s linear infinite;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 5rem;
    color: #16a085;
    font-family: 'Lato';
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.videos {
  margin: 2.5% 0 0 0;
}

#videos-row {
  margin-bottom: 2.5%;
}

.media-fluid {
  max-height: 100%;
  max-width: 100%
}