.blink {
  animation: blinker 2s linear infinite;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 5rem;
    color: #16a085;
    font-family: 'Lato';
}

@keyframes blinker {  
  50% { opacity: 0; }
}